

<div class="logo pull-left">
    <a  href="{% path_to home %}"><img src="{{ 'MinnovaLogo.png'| theme_image_url }}" height="80" ></a>
</div>


<div class="mobile navbar-header">
    <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
        <i class="fa fa-bars fa-2x"></i>
    </a>
</div>







<nav class="collapse navbar-collapse menu">
    <ul class="nav navbar-nav sf-menu sf-js-enabled sf-arrows">
        <li class="{% if page.handle == 'home' %}active{% endif %}">
            <a href="{% path_to home %}">Home</a>
        </li>
        {% for page_in_nav in site.pages %}
        {% if page_in_nav.depth == 1 %}
        <li class="{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}">
            {% link_to page_in_nav %}
            {% endif %}
            {% endfor %}
    </ul>
</nav>




