---
title: About us
slug: about-us
position: 99
listed: true
published: true
is_layout: true
editable_elements:
  content/header/jumbotron: "<h2>About us</h2>We are a company providing specialist
    input into healthcare related technologies. We draw on the expertise of a large
    number of medical consultants from a variety of clinical specialities, experts
    in chemistry, engineering and biological science as well as device manufacture,
    distribution &amp; marketing and regulatory affairs.&nbsp;<p></p>"
  content/main/body: "<h3>What we do</h3>\r\n\r\n<p>\r\n          </p>Our main expertise
    is in disorders of the gastrointestinal tract and wound care and tissue healing.
    On the clinical side this is provided by interventional radiologists, interventional
    endoscopists, upper GI surgeons, dermatologists, and clinical scientists.<div>We
    have access to analytical services of industry-standard laboratories and senior
    scientists of the related areas and we work closely with a number of international
    device manufacturers.<br><p>\r\n\r\n</p><h3><br>Directors</h3>\r\n          <p><b>Derek
    Edwards</b></p><p><br></p><p><b>Hans-Ulrich Laasch, Dr med MRCP FRCR</b><br></p><p>After
    graduating with a \"magna cum laude\" doctorate in medicine from the Albert-Einstein
    University in Ulm, Germany, Dr Laasch trained as a physician in the UK. After
    board certification in general medicine in 1995 he trained in radiology in Manchester
    and was board certified in 1999. He undertook a 4-year fellowship in GI intervention
    including interventional endoscopy and ERCP and was appointed Head of Interventional
    Radiology at one of Europe's largest cancer centres in 2005.</p><p></p><p><b>Rebecca
    Brooke, MD FRCP</b></p><p><br></p><p><b>Graham Milward</b></p></div>"
---
{% extends 'layouts/simple' %}
{% block main %}
{% endblock %}