---
title: Home page
published: true
handle: home
---
{% extends 'layouts/default' %}

{% block content %}

    <div id="main">
        <div class="slogan bottom-pad-small">
            <div class="container">
                <div class="row">
                    <div class="slogan-content">
                        <div class="col-lg-9 col-md-9">
                            <h1 class="slogan-title">
                                {% editable_text slogan %}Experts in medical technology.{% endeditable_text %}
                            </h1>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="get-started">
                                <p></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="fa fa-arrows-alt"></i></div>
                                <div class="ch-info-back">
                                    <i class="fa fa-arrows-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>{% editable_text heading_col_1 %}Device Development{% endeditable_text %}</h3>
                            <p>
                                {% editable_text first_column %}
                                    We provide clinical as well as technical input into design of new devices and healthcare related technologies.
                                {% endeditable_text %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="fa fa-eye"></i></div>
                                <div class="ch-info-back">
                                    <i class="fa fa-eye"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>{% editable_text heading_col_2 %}Device Assessment{% endeditable_text %}</h3>
                            <p>
                                {% editable_text second_column %}
                                    We verify claims of improved performance including pre-clinical trials and clinical testing.We investigate device failures including mechanical and chemical analysis.
                                {% endeditable_text %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="content-box big ch-item">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"><i class="fa fa-edit"></i></div>
                                <div class="ch-info-back">
                                    <i class="fa fa-edit"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>{% editable_text heading_col_3 %}Training & Regulatory Affairs{% endeditable_text %}</h3>
                            <p>
                                {% editable_text third_column %}
                                We help develop product leaflets, instructions for use and teaching aids including procedure videos. We can provide advice on intellectual property, CE marking and ISO standards.
                                {% endeditable_text %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
