---
title: Services
is_layout: false
editable_elements:
"content/left_column/content": "<p>This is my awesome left column</p>"
"content/right_column/content": "<p>This is my awesome right column</p>"
---
{% extends 'layouts/double' %}


